{% extends 'base_login.html.twig' %}

{% block title %}Hello AccountManagementController!{% endblock %}

{% block body %}

<a href="{{ path('account_show') }}"><h3>Show profile</h3></a>
<a href="{{ path('account_edit') }}"><h3>Edit account</h3></a>
<a href="{{ path('account_myproducts') }}"><h3>Show my products</h3></a>

{% endblock %}
